@import url('../global/variables.css');
@import url('../components/menuHamburguer.css');

.header {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: all .3s ease;
    z-index: 3;
}

.header.scrolled {
    height: 70px;
    background: var(--black);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.header__nav {
    width: 100%;
    max-width: 1700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 1em;
    transition: max-width 0.3s ease, padding 0.3s ease;
}

.header__nav.width__animation {
    max-width: 1500px;
}

.header__nav__items {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__nav__language {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__nav__items__item,
.header__nav__language__btn {
    font-size: var(--font16px);
    color: var(--white);
    cursor: pointer;
}

.header__nav__language__btn {
    transition: .3s ease-in;
    outline: none;
    font-weight: var(--fontBold);
}

/* in JS */
/* in JS */
.language-active {
    color: var(--orange);
}

/* in JS */
/* in JS */

.header__nav__items__item {
    position: relative;
    width: max-content;
}

.header__nav__items__item::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: var(--orange);
    position: absolute;
    bottom: -.2rem;
    left: 0;
    transition: .5s ease;
}

.header__nav__items__item:hover::after {
    width: 100%;
}

@media (max-width: 630px) {
    .header {
        justify-content: end;
        padding-right: 1em;
    }

    .header__nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--background-gradient-home);
        flex-direction: column;
        padding: 1rem;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        transition: max-height 0.4s ease, opacity 0.3s ease;
    }

    .header__nav.open {
        max-height: 500px;
        opacity: 1;
        pointer-events: auto;
    }

    .header__nav__items {
        flex-direction: column;
        gap: 1rem;
    }

    .header__nav__language {
        margin-top: 2rem;
    }
}