@import url('../global/variables.css');

.home {
    background: var(--background-gradient-home);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home__section {
    width: 100%;
    max-width: 1500px;
    padding: 0em 1em;
}

.home__section__welcome,
.home__section__name,
.home__section__paragraph,
.home__section__question {
    color: var(--white);
}

.home__section__welcome,
.home__section__paragraph,
.home__section__question {
    font-size: var(--font24px);
}

.home__section__welcome {
    font-weight: var(--fontLight);
}

.home__section__name {
    font-size: var(--font128px);
    font-weight: var(--fontRegular);
}

.home__section__question {
    display: block;
    font-weight: var(--fontBold);
}

.container__mouse {
    position: absolute;
    bottom: 2em;
}

.mouse__btn {
    margin: 10px auto;
    width: 20px;
    height: 40px;
    border: 2px solid rgba(122, 122, 124, 0.918);
    border-radius: 20px;
    display: flex;
}

.mouse__scroll {
    display: block;
    width: 10px;
    height: 10px;
    background: linear-gradient(170deg, rgba(122, 122, 124, 0.918), rgb(123, 124, 124));
    border-radius: 50%;
    margin: auto;
    animation: scrolling13 1s linear infinite;
}

@keyframes scrolling13 {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(20px);
    }
}


@media(max-width: 800px) {
    .home__section__name {
        font-size: var(--font40px);
    }

    .home__section__welcome,
    .home__section__paragraph,
    .home__section__question {
        font-size: var(--font16px)
    }
}

@media(max-width: 375px) {
    .home__section__name {
        margin: .2em 0em;
        font-size: var(--font32px);
    }

    .home__section__welcome,
    .home__section__paragraph,
    .home__section__question {
        font-size: var(--font14px)
    }
}