@import url('../global/variables.css');

.tools__container {
    width: 100%;
    min-height: 70px;
    max-width: 1500px;
    padding: 0em 1em;
    background: transparent;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
}

.tools {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    /*//Quebra a animação se colocar 100%*/
    width: max-content;
    animation: scrollTools 50s linear infinite;
}

.tool__container {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--grey);
    border-radius: .5rem;
    padding: .5rem 1rem;
    min-width: max-content;
}

.fade-left,
.fade-right {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 400px;
}

.fade-left {
    background: linear-gradient(270deg, rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 1) 88%);
    left: 0;
}

.fade-right {
    background: linear-gradient(90deg, rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 1) 88%);
    right: 0;
}

.tool__image {
    width: 30px;
    height: 30px;
}

.tool__name {
    color: var(--white);
    font-size: var(--font16px);
}

@keyframes scrollTools {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(var(--scroll-width) * -1));
    }
}

@media(max-width:900px) {

    .fade-left,
    .fade-right {
        width: 150px;
    }
}