@import url('../global/variables.css');

.tools__container {
    width: 100%;
    min-height: 70px;
    max-width: 1500px;
    padding: 0em 1em;
    background: var(--grey);
    overflow: hidden;
    border-radius: 1rem;
}

.tools {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: max-content;
    /*//Quebra a animação se colocar 100%*/
    animation: scrollTools 50s linear infinite;
}

.tool__container {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--very-dark-blue);
    border-radius: .5rem;
    padding: .5rem 1rem;
    min-width: max-content;
}

.tool__image {
    width: 30px;
    height: 30px;
}

.tool__name {
    color: var(--white);
    font-size: var(--font16px);
}

@keyframes scrollTools {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(var(--scroll-width) * -1));
    }
}