@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --very-dark-blue: #000B1B;
    --white: #FFF9FF;
    --dark-blue: #121D2D;
    --grey: #475464;
    --background-gradient-section1: linear-gradient(292deg, rgb(4, 17, 37) 0%, rgba(39, 62, 96, 1) 60%);
    --background-gradient-footer: linear-gradient(90deg, rgb(4, 17, 37) 0%, rgba(39, 62, 96, 1) 60%);

    --fontPoppins: "Poppins", sans-serif;

    --fontLight: 300;
    --fontRegular: 400;
    --fontBold: 700;

    --font14px: .875rem;
    --font16px: 1rem;
    --font20px: 1.25rem;
    --font24px: 1.5rem;
    --font32px: 2rem;
    --font40px: 4rem;
    --font128px: 8rem;
}