@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
    --black: #000000;
    --dark-grey: #2B2A2A;
    --very-dark-blue: #000B1B;
    --white: #FFF9FF;
    --dark-blue: #121D2D;
    --grey: #475464;
    --background-gradient-home: linear-gradient(149deg, rgba(43, 42, 42, 1) 0%, rgba(0, 0, 0, 1) 100%);
    --background-gradient-footer: linear-gradient(90deg, rgb(4, 17, 37) 0%, rgba(39, 62, 96, 1) 60%);

    --fontPoppins: "Poppins", sans-serif;

    --fontLight: 300;
    --fontRegular: 400;
    --fontBold: 700;

    --font14px: .875rem;
    --font16px: 1rem;
    --font20px: 1.25rem;
    --font24px: 1.5rem;
    --font32px: 2rem;
    --font40px: 4rem;
    --font128px: 8rem;
}